:root {
  --background-color: #a4b0be;
  --accent-color: #747d8c;
  --button-accent-color: black;

  --button-background: #5352ed;
  --button-background-hover: #70a1ff;
  --button-background-disabled: transparent;

  --button-text: #dfe4ea;
  --button-text-hover: black;
  --button-text-disabled: black;

  --button-border: var(--button-background) /* #2f3542 */;
  --button-border-hover: var(--button-background-hover);
  --button-border-disabled: var(--button-text-disabled);

  --font-family: 'Malgun Gothic';
  --border-radius: 4px;

  --background-color-on: #fff1a4;
  --background-color-off: #a4b0be;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family), Arial;
}

body {
  text-align: center;
  overflow: hidden;
  margin: 0;
  background: #ffffcc;
}

/* FLEX CONTROLS */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-align-center {
  align-content: center;
  justify-content: center;
}

/* MYTOGGLE */

.toggle--indicator {

}

.toggle--container {
  min-width: 330px;
  max-width: 500px;
  width: 50%;
  font-size: 2em;
  display: flex;
  justify-content: center;
  background: #d3d3d3;
  border: 1px solid red;
}

.toggle--span {
  display: block;
  width: 50%;
  opacity: 0.5;
  /* border: 1px solid black; */
}

.toggle--span.active {
  background-color: rgb(102, 163, 255);
  opacity: 1;
}
