:root {
  --background-color: #f5f6fa;

  --transition-duration: 400ms;

  --toggle-container-background: #f5f6fa;
  --toggle-indicator-color: black;

  --orientation-toggle-background: #ff7675;
  --orientation-toggle-background-active: #d63031;

  --timer-toggle-background: #74b9ff;
  --timer-toggle-background-active: #0984e3;

  --font-family: 'Malgun Gothic';
  --border-radius: 5px;
  --border-width: 1px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family), Arial;
}

body {
  text-align: center;
  overflow: hidden;
  margin: 0;
  background: var(--background-color);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* TOGGLES */

.toggle--container {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--toggle-container-background);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--toggle-indicator-color);
}

.toggle--container:hover .toggle--indicator {
  color: var(--toggle-container-background);
  background: var(--toggle-indicator-color);
}

.toggle--indicator {
  color: var(--toggle-indicator-color);
  margin: 0;
  border-top: var(--border-width) solid var(--toggle-indicator-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
}

.toggle {
  min-width: 330px;
  max-width: 500px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.toggle--option {
  display: inline-block;
  width: 50%;
  opacity: 0.2;
  transition-duration: var(--transition-duration);
}

.toggle--option.left.active {
  border-top-left-radius: var(--border-radius);
}

.toggle--option.right.active {
 border-top-right-radius: var(--border-radius);
}

.toggle--option.active {
  background-color: var(--timer-toggle-background);
  opacity: 1;
}

/* INDIVIDUAL TOGGLES */

.toggle--orientation {
  background-color: var(--orientation-toggle-background);
}
.toggle--orientation .active {
  background-color: var(--orientation-toggle-background-active);
}

.toggle--timer {
  background-color: var(--timer-toggle-background);
}

.toggle--timer .active {
  background-color: var(--timer-toggle-background-active);
}
