:root {
  --background-color: #a4b0be;
  --accent-color: #747d8c;
  --button-accent-color: black;

  --button-background: #5352ed;
  --button-background-hover: #70a1ff;
  --button-background-disabled: transparent;

  --button-text: #dfe4ea;
  --button-text-hover: black;
  --button-text-disabled: black;

  --button-border: var(--button-background) /* #2f3542 */;
  --button-border-hover: var(--button-background-hover);
  --button-border-disabled: var(--button-text-disabled);

  --font-family: 'Malgun Gothic';
  --border-radius: 4px;

  --background-color-on: #fff1a4;
  --background-color-off: #a4b0be;
}

*, *::before, *::after {
  box-sizing: border-box;
  height: 100%;
}

html {
  font-family: var(--font-family), Arial;
}

body {
  text-align: center;
  overflow: hidden;
  margin: 0;
}

main {

}

h2 {
  margin: 0;
  font-weight: normal;
}

.button {
  font-family: var(--font-family), Arial;
  font-size: 1.4em;
  border-radius: var(--border-radius);
  border: 2px solid var(--button-border);
  background-color: var(--button-background);
  color: var(--button-text);
  transition-duration: 400ms;
}

.button:not([disabled]) {
  box-shadow: 0px 10px 14px -7px var(--accent-color);
}

.button:not([disabled]):hover {
  border-color: var(--button-border-hover);
  background-color: var(--button-background-hover);
  color: var(--button-text-hover);
}

.button[disabled] {
  background-color: var(--button-background-disabled);
  color: var(--button-text-disabled);
  border-color: var(--button-border-disabled);
  opacity: 0.3;
}

/* GRID CONTROLS */

.c-grid {
  display: flex;
}

/* FLEX CONTROLS */

.c-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-align-center {
  align-content: center;
  justify-content: center;
}

/* CLASS CONTROLS */

.button-container {
  width: 100%;
  height: 20vh
}

.button-container * {
  margin: 0 0.4em;
  width: 100%;
}

.wrapper {
  width: 90vw;
  height: 90vh;
  margin: 2em;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.timers * {
  margin: 0;
  padding: 0;
}

.timer-container {
  width: 47%;
  min-height: 100px;
  font-size: 1.4em;
  padding: 0.4em 0;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.running {
  font-size: 1.6em;
}

/* sprites */

.light-on {
  background-color: var(--background-color-on);
}

.light-off {
  background-color: var(--background-color-off);
}

.timer {
  background-image: url("../images/light-switch-off.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.switch-off {
  /* transform: rotateX(0deg); */
}

.switch-on {
  transform: rotateX(180deg);
}

.standing {
	background: url('../images/standing.png');
  background-repeat: no-repeat;
  background-position: center;
}

.sitting {
	background: url('../images/sitting.png');
  background-repeat: no-repeat;
  background-position: center;
}
